* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  text-align: center;
  text-shadow: 2px 2px 2px pink;
}

header {
  background-image: url("foto-bsblork_museunacionaldarepublica_brasilia7julho2019.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  margin-bottom: 30px;
}

header h1 {
  color: white;
  font-size: 4em;
  padding: 50px;
  text-shadow: 2px 2px 2px white, -2px -2px 2px green, 0 2px 2px red, 2px 0 2px blue, 0 -2px 0 white, -2px 0 2px cyan;
}

main {
  font-size: 1.2em;
}

p {
  font-size: 1.5em;
  padding: 30px 8%;
}

main p {
  text-align: justify;
}

img {
  width: 84%;
  border-radius: 3px;
  box-shadow: 0 0 2px red;
}

footer {
  background-color: #bfca87;
  padding-top: 20px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 640px;
  border-radius: 3px;
}

@media screen and (max-width: 1280px) {
  iframe {
    height: 580px;
  }
}
@media screen and (max-width: 920px) {
  iframe {
    height: 440px;
  }
}
@media screen and (max-width: 700px) {
  iframe {
    height: 380px;
  }
}
@media screen and (max-width: 600px) {
  iframe {
    height: 300px;
  }
}
